""" Map leader to space
let mapleader=" "

""" Plugins
set surround
set multiple-cursors
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister

Plugin 'tpope/vim-surround'
Plugin 'machakann/vim-highlightedyank'

""" Plugin settings
let g:argtextobj_pairs="[:],(:),<:>"

let g:highlightedyank_highlight_duration = "100"

""" Common settings

let mapleader=" "

set showmod	e
set so=5
set incsearch
set nu
set visualbell
set noerrorbells
set timeoutlen=225
#set relativenumber
#set clipboard+=unnamed
#set clipboard+=ideaputn

vmap <leader>y "+y
nnoremap <S-U> :undo<CR>

map <C-c> <Esc>
nnoremap <C-J> <C-W><C-J>
nnoremap <C-K> <C-W><C-K>
nnoremap <C-L> <C-W><C-L>
nnoremap <C-H> <C-W><C-H>

nnoremap <C-e> <C-Down>
nnoremap <C-y> <C-Up>

nnoremap <C-n> <C-d>zz
nnoremap <C-u> <C-u>zz

nmap oo o<Esc>
nmap OO O<Esc>

cnoremap wqq tabonly<CR>

""" UI
nnoremap <leader>v :action SplitVertically<CR>
nnoremap <leader>f :action ToggleDistractionFreeMode<CR>
nnoremap <c-b> :action HideAllWindows<CR>
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>
nnoremap <leader>z :action ToggleZenMode<CR>

""" Movement
nnoremap <TAB> :action NextTab<CR>
nnoremap <s-TAB> :action PreviousTab<CR>
nnoremap <leader>s :action GotoRelated<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gD :action GotoSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gu :action ShowUsages<CR>
nnoremap ]d :action GotoNextError<CR>
nnoremap [d :action GotoPreviousError<CR>
nnoremap <leader>bb :action ShowBookmarks<CR>
nnoremap ]b :action GotoNextBookmark<CR>
nnoremap [b :action GotoPreviousBookmark<CR>
nnoremap <leader>b :action ToggleBookmark<CR>
nnoremap <leader>ca :action Refactorings.QuickListPopupAction<CR>
vmap <leader>ca :action Refactorings.QuickListPopupAction<CR>
nnoremap gr :action FindUsagesInFile<CR>
"nnoremap  n :action FindNext<CR>
"nnoremap  N :action FindPrevious<CR>
vmap n :action FindNext<CR>
vmap N :action FindPrevious<CR>

""" Tests
nnoremap ,c :action RunClass<CR>
nnoremap ,d :action Debug<CR>
nnoremap ,p :action ChooseRunConfiguration<CR>
nnoremap ,t :action ActivateRunToolWindow<CR>
nnoremap ,r :action Rerun<CR>
nnoremap ,s :action Stop<CR>

""" Debug
nnoremap <leader>db :action ToggleLineBreakpoint<CR>
nnoremap <leader>dn :action Resume<CR>
nnoremap <leader>dd :action Debug<CR>
